
body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic {
    width: 150px;
    height: 150px;
}

.card {
    width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content:space-around;
    padding: 20px;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 5px solid #d8cefe;
}

.card, h4, p{
    text-align: center;
}

/*utillity class serv just one propose
*/
.dottedblue {
    border: 1px dotted blue;
}